* {
    margin: 0;
    padding: 0;

}



body {
    height: 60vh;
    width: 100%;
    background-position: center;

}

.logo {
    width: 250px;
    height: 100px;
    top: 10%;
    position: absolute;

    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: 5s;

}



.logo img {

    width: 80px;

}